* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 25px;
}


#welcome-section{
  background: linear-gradient(rgba(41, 93, 236, 0.637), rgb(144, 165, 224));
  height: 100vh;
  text-align: center;
  padding-top: 50vh;
}
  

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: linear-gradient(rgb(144, 165, 224), rgb(213, 220, 241));
  
  
}
  
.project-tile {
  text-decoration-line: none;
  font-size: 130%;
  
}  
  
  
  